<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="/foundation.min.css">
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
   <script src="/foundation.min.js"></script>

<style media="screen">
  nav {
    padding: 30px;
    background: #29d0ad;
    font-size: 30px;
    color: #fff;
  }

  footer {
    padding: 15px;
    color: #fff;
    text-align:center;
    font-size: 15px;
    background: #4a4a4a;
    height: 50px;
    margin-top: -50px;
  }
.content {
  min-height: 100%;
}
.content-inside {
  padding: 20px;
  padding-bottom: 50px;
}

.birthday-item {
  background: #dcdcdc;
  border-radius: 3px;
}

</style>
</body>
    <title>Never Forget</title>
  </head>
  <body>
    <nav>
      Gift Blissfully
    </nav>
    <div class="content">
        <div class="content-inside">
  {{{ body }}}
        </div>
    </div>
    <footer>
      &copy; Gift Blissfully
    </footer>
  </body>
</html>
