<div class="birthday-item">
  <ul>
    {{#each birthday }}
      <li>{{this.name}}</li>
      <li>{{this.date}}</li>
      <a href="/birthday/delete/{{ _id }}">Delete</a>
      <a href="/birthday/show/{{ _id}}">View Details</a>
    {{/each}}
  </ul>
</div>

  <a class="button" href="/birthday/new">Add New Birthday</a>
