<div class="grid-x grid-padding-x">
 <div class="cell small-12">
   <h3>Edit Birthday</h2>
<form action="/birthday/edit" method="post">
  <p>
    <label for="title">Name</label>
    <input name="name" type="text" placeholder="Name">
  </p>
  <p>
    <label for="birthDate">Birthday</label>
    <input name="birthDate" type="date"
  </p>
  <button type="submit" class="button">Submit</button>
</form>
</div>
</div>
