<div class="grid-x grid-padding-x">
 <div class="cell small-12">
   <h3>New Birthday</h2>
<form action="/birthday/new" method="post">
  <p>
    <label for="title">Name</label>
    <input name="name" type="text" placeholder="Name">
  </p>
  <p>
    <label for="birthDate">Birthday</label>
    <input name="birthDate" type="date">
  </p>
  <p>
    <h3>Favorites</h3>
    <label for="food">Food</label>
    <input name="food" type="text" placeholder="Food">
    <label for="color">Color</label>
    <input name="color" type="text" placeholder="Color">
    <label for="brand">Brand</label>
    <input name="brand" type="text" placeholder="Brand">
    <label for="hobby">Hobby</label>
    <input name="hobby" type="text" placeholder="Hobby">
  </p>
  <button type="submit" class="button">Submit</button>
</form>
</div>
</div>
